:root {
    --primary-color: #2560F4;
    --accent-color: #F6BD53;
    --dark-text-color: #21145F;
    --dark-grey-color: #67686A;
    --grey-color: #E6E8EB;
    --light-grey-color: #F6F9FB;
    --bg-light: #FFF;
    --text-light: #FFF;
    --border-color: #CDD0D880;
    --border-color-no-t: #CDD0D8;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 55px;
    margin: 0;
    color: var(--dark-text-color);
    line-height: 120%;
}

main {
    background-color: var(--light-grey-color);
    min-height: 100vh;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: inherit;
}

select {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    line-height: 125%;
}

.nd_container{
    padding: 0 15px;
}

.nd_none {
    display: none;
}

.visually_hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.nd_card {
    border: 1px var(--border-color) solid;
    border-radius: 12px;
    background-color: #fff;
}

.nd_accent_text {
    color: var(--primary-color);
}

.nd_link {
    color: var(--primary-color);
    text-decoration-line: underline;
}

.nd_dropdown__button:focus, .nd_dropdown__button__active {
    outline: none;
    box-shadow: 0 0 0 4px rgba(176, 198, 225, 0.6);
}

.nd_section {
    padding-bottom: 120px;
}

.nd_section_mid {
    padding-bottom: 50px;
}

.nd_section_name_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 27px;
}

.nd_section_name_dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.nd_section_name {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.nd_section_title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 21px;
    line-height: 37.5px;
}

@media screen and (min-width: 992px) {

    body {
        padding: 0;
    }

    .nd_container {
        padding: 0 148px;
    }


    .nd_section {
        padding-bottom: 200px;
    }

    .nd_section_mid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nd_section_title {
        font-size: 45px;
        max-width: 491px;
        line-height: 75px;
    }

}

@media screen and (min-width: 1200px) {

    .nd_section_title {
        font-size: 60px;
    }

}