:root {
    --primary-color: #2560F4;
    --accent-color: #F6BD53;
    --dark-text-color: #21145F;
    --dark-grey-color: #67686A;
    --grey-color: #E6E8EB;
    --light-color: #F6F9FB;
    --bg-light: #FFF;
    --text-light: #FFF;
}

body {
    font-family: "Inter", sans-serif;
    padding-top: 55px;
    margin: 0;
    color: var(--dark-text-color);
    line-height: 120%;
    background-color: var(--accent-color);
}

main {
    height: 200px;
}

button {
    cursor: pointer;
    font-family: inherit;
}

select {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

.nd_container {
    padding: 0 20px;
}

.nd_none {
    display: none;
}

.nd_w_btn, .nd_b_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 249px;
    height: 50px;
    min-height: 50px;
    border-radius: 12px;

    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    cursor: pointer;
}

.nd_w_btn {
    background-color: var(--bg-light);
    border: 1px rgba(156, 162, 177, 0.5) solid;
    color: inherit;
}

.nd_b_btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-light);
}

@media screen and (min-width: 992px) {
    body {
        padding: 0;
    }

    .nd_w_btn, .nd_b_btn {
        width: 120px;
        height: 37px;
        min-height: 37px;

        font-size: 11px;
    }
}