body {
    font-family: "Inter", sans-serif;
    padding-top: 55px;
    margin: 0;
    background-color: palevioletred;
}

.nd_h {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 55px;
}

.nd_h_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/*left*/

.nd_h_left {
    height: 100%;
}

.nd_h_burger_btn, .nd_h_close_btn {
    width: 55px;
    height: 100%;

    color: #2F5FEB;
    font-size: 10px;
    background-color: #fff;
    border: none;
    border-right: 1px #E6E8EB solid;
}

.nd_h_close_btn {
    display: none;
}

.nd_h_logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0;
}

.nd_logo_d {
    display: none;
}

/*right*/

.nd_h_right {
}

.nd_logo_m {
}

.nd_h_select {
    border: none;
    margin: 18px 0 19px;
}

.nd_h_select:focus-visible {
    outline: none;
}

/*rightTop*/

.nd_h_rightTop {
    display: none;
}

.nd_h_impaired_btn {
}

.nd_h_tel {
}

/*rightBottom*/

.nd_h_rightBottom {
    display: none;
}

.nd_h_pages_list_d {
}

.nd_w_btn {
}

.nd_b_btn {
}

/*menu*/

.nd_h_menu {
    display: none;
}

.nd_h_pages_list_m {
}

@media screen and (min-width: 992px) {
    .nd_h {
        position: static;
    }
}