@import url(index.css);

.nd_f {
    background-color: var(--bg-light);
    padding: 75px 0 70px;
    text-align: center;
}

.nd_f_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.nd_f_main h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 32px;
}

.nd_f_logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 209px;
    padding: 0;
    margin-bottom: 50px;
}

.nd_f_menu, .nd_f_docs {
    padding-bottom: 45px;
}

.nd_f_menu_list, .nd_f_docs_text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 14px;
    color: var(--dark-grey-color);
}

.nd_f_soc {
    padding-bottom: 50px;
}

.nd_f_soc_list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nd_f_soc_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 90px;
    border: 1px var(--grey-color) solid;
    border-radius: 50%;
}

.nd_f_contacts p {
    color: #9CA2B1;
    font-size: 14px;
    margin-top: 25px;
}

.nd_f_contacts a {
    font-size: 14px;
    color: #9CA2B1;
}

.nd_f_contact_type {
    font-weight: 500;
    color: #2360E2;
}

.nd_f_copyright {
    font-size: 14px;
}
