@import url(index.css);

.nd_f {
    background-color: var(--bg-light);
    padding: 75px 0 70px;
    text-align: center;
}

.nd_f_container {
    padding: 0 20px;
}

.nd_f_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}

.nd_f_main h2 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
}

.nd_f_logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 209px;
    padding: 0;
    margin-bottom: 50px;
}

.nd_f_menu, .nd_f_docs {
    padding-bottom: 45px;
}

.nd_f_menu_list, .nd_f_docs_text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 14px;
    color: var(--dark-grey-color);
}

.nd_f_soc {
    padding-bottom: 50px;
}

.nd_f_soc_list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nd_f_soc_link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90px;
    height: 90px;
    border: 1px var(--grey-color) solid;
    border-radius: 50%;
}

.nd_f_soc_facebook {
    width: 30px;
    height: 30px;
}

.nd_f_soc_youtube {
    width: 35px;
    height: 30px;
}

.nd_f_soc_instagram {
    width: 30px;
    height: 30px;
}


.nd_f_contacts p, .nd_f_contacts a {
    color: #9CA2B1;
    font-size: 14px;
}

.nd_f_contacts p {
    margin-top: 25px;
}

.nd_f_contact_type {
    font-weight: 500;
    color: #2360E2;
}

.nd_f_copyright {
    font-size: 14px;
}

@media screen and (min-width: 992px) {
    .nd_f {
        text-align: start;
        padding: 60px 0 23px;
    }

    .nd_f_main {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        padding-bottom: 15px;
    }

    .nd_f_main h2 {
        /*font-size: 14px;*/
        margin-bottom: 29px;
    }

    .nd_f_logo {
        width: 214px;
        margin: 0 32px 0 0;
    }

    .nd_f_menu, .nd_f_docs {
        padding: 0;
        max-width: 216px;
    }

    .nd_f_menu_list, .nd_f_docs_text {
        gap: 15px;
        /*font-size: 11px;*/
    }

    .nd_f_soc {
        padding-bottom: 45px;
    }

    .nd_f_soc_list{
        gap: 15px;
    }

    .nd_f_soc_link{
        width: 68px;
        height: 68px;
    }

    .nd_f_soc_facebook {
        width: 23px;
        height: 23px;
    }

    .nd_f_soc_youtube {
        width: 27px;
        height: 23px;
    }

    .nd_f_soc_instagram {
        width: 23px;
        height: 23px;
    }

    .nd_f_contacts p, .nd_f_contacts a {
        /*font-size: 11px;*/
    }

    .nd_f_contacts p {
        margin-top: 15px;
    }

    .nd_f_copyright {
        /*font-size: 11px;*/
    }
}

@media screen and (min-width: 1200px) {
    .nd_f_docs {
        margin-right: 11px;
    }

    .nd_f_logo {
        margin-right: 64px;
    }
}
