@import url(index.css);

.nd_h {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 55px;
}

.nd_h_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-right: 5px;
}

/*left*/

.nd_h_left {
    height: 100%;
    border-right: 1px var(--grey-color) solid;
}

.nd_h_menu_btn {
    width: 55px;
    height: 100%;

    color: #2F5FEB;
    font-size: 10px;
    background-color: #fff;
    border: none;
}

.nd_h_menu_btn svg {
    margin-bottom: 4px;
}

/*right*/

.nd_h_select_m, .nd_h_select {
    border: none;
    margin: 18px 0 19px;
}

.nd_h_select_m:focus-visible .nd_h_select:focus-visible{
    outline: none;
}

.nd_h_right{
    display: none;
}

/*rightTop*/

.nd_h_rightTop {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 46px;

    height: 40px;
}

.nd_h_impaired_btn, .nd_h_tel {
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 18px;
}

.nd_h_tel {
    margin-bottom: 20px;
    font-size: 12px;
}

.nd_h_impaired_btn {
    border: none;
    background-color: #fff;
    font-size: 14px;
}

.nd_blue_circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: var(--primary-color);
}
/*rightBottom*/

.nd_h_rightBottom {
    display: flex;
    justify-content: end;
    align-items: center;

    height: 61px;
    border-top: 1px var(--grey-color) solid;
}

.nd_h_pages_list_d {
    display: flex;
    /*margin-right: 58px;*/
    /*gap: 47px;*/
    margin-right: 40px;
    gap: 42px;
}

.nd_h_pages_list_d li {
    padding: 22px 0;
}

.nd_h_pages_list_d li, .nd_h_pages_list_d li a {
    height: 100%;
}

.nd_current {
    position: relative;
    color: var(--primary-color);
}

.nd_h_pages_list_d .nd_current:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--primary-color);
    border-bottom-right-radius: 10px; /* Радіус закруглення правого нижнього кута */
    border-bottom-left-radius: 10px;
}

.nd_h_rightBottom, .nd_w_btn {
    margin-right: 12px;
}

/*menu*/

.nd_h_menu {
    position: absolute;
    left: 0;
    top: 55px;
    right: 0;
    bottom: 0;
    overflow: hidden;

    background-color: #fff;
    border-top: 1px var(--grey-color) solid;
}

.nd_h_menu_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 33px 0;
    max-height: 100%;
    overflow: auto;
}

.nd_h_pages_list_m {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;

    font-size: 30px;
    line-height: 125%;
    color: var(--dark-text-color);

    padding-bottom: 35px;
}

.nd_h_menu_container .nd_w_btn {
    margin-bottom: 15px;
}

.nd_h_menu_container .nd_b_btn {
    margin-bottom: 35px;
}

/*------------------------------992----------------------------------------*/

@media screen and (min-width: 992px) {
    .nd_h {
        position: static;
        height: 102px;
    }

    .nd_h_container {
        padding-right: 32px;
    }

    .nd_h_menu, .nd_h_menu_btn, .nd_h_select_m {
        display: none;
    }

    .nd_h_right {
        display: block;
        width: 100%;
    }
    
    .nd_h_tel {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    .nd_h_pages_list_d {
        margin-right: 58px;
        gap: 47px;
    }
}
