.nd_hero {
    padding: 75px 0 225px;
}

.nd_hero_main {
    padding-bottom: 49px;
}

.nd_hero_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 25px;
}

.nd_hero_text {
    width: 285px;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 74px;
}

.nd_hero_img {
    background-image: url(../img/hero_m.png);
    background-size: cover;

    width: calc(100% + 15px);
    height: 439px;
    max-width: 665px;
}
