/*hero*/

.nd_hero {
    padding: 75px 0 225px;
    overflow-x: hidden;
}

.nd_hero_main {
    padding-bottom: 49px;
}

.nd_hero_title {
    font-weight: 500;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 25px;
}

.nd_hero_text {
    width: 285px;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 74px;
}

.nd_hero_img {
    background-image: url(../img/hero_m.png);
    background-size: cover;

    width: calc(100% + 80px);
    margin-left: -65px;
    height: 439px;
    max-width: 665px;
}

/*statistics*/

.nd_statistics {
}

.nd_statistics_mid {
}

.nd_statistics_list {
}

.nd_statistics_item_name {
}

@media screen and (min-width: 576px) {
    /*hero*/

    .nd_hero_wrap {
        display: flex;
    }

    .nd_hero_main {
        width: 50%;
        padding: 40px 0 0;
    }

    .nd_hero_img_wrap {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    /*hero*/

    .nd_hero {
        padding: 60px 0 150px;
    }

    .nd_hero_main {
        padding-top: 140px;
    }

    .nd_hero_title {
        max-width: 518px;
        font-size: 66px;
    }

    .nd_hero_text {
        font-size: 18px;
        width: auto;
    }

    .nd_hero_img {
        background-image: url(../img/hero_d.png);
        height: 696px;
        width: calc(100% + 183px);
        max-width: 780px;
        margin-left: -35px;
    }
}
