.nd_registration_form_wrap {
    padding: 75px 15px 120px;
}

.nd_registration_form {
    padding: 68px 10px 75px;
    max-width: 747px;
    margin: 0 auto;
}

.nd_registration_title {
    font-size: 30px;
    font-weight: 500;
    line-height: 37.5px;
    letter-spacing: -1px;
    text-align: center;

    margin-bottom: 46px;
}

.nd_registration_label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark-grey-color);
    margin: 0 auto 39px;
    max-width: 587px;
}

.nd_registration_label_last {
    margin-bottom: 50px;
}

.nd_registration_input {
    width: 100%;
    height: 14px;
    padding-bottom: 4px;

    border: none;
    border-bottom: 1px #9CA2B140 solid;
    outline: none;
}

.nd_registration_checkbox_label {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
}

.nd_registration_hidden_checkbox:checked + .nd_registration_checkbox {
    background-image: url(../img/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.nd_registration_hidden_checkbox:focus + .nd_registration_checkbox {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 2px var(--primary-color);
}

.nd_registration_checkbox {
    display: flex;
    width: 60px;
    height: 60px;
    margin-right: 19px;
}

.nd_registration_captcha {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 30px;
}

.nd_registration_captcha_newCode {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}

.nd_registration_calendar {
}

/*regs parent*/

.nd_registration_parent_text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;

    margin-bottom: 63px;
    text-align: center;
}

.nd_registration_paren_btn_wrap .nd_y_b_btn {
    margin: 0 auto;
}

/*regs main*/

.nd_registration_main {
    padding: 75px 0 120px;
}

.nd_registration_main_main {
    padding-bottom: 75px;
}

.nd_registration_main_text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;

    margin: 21px 0 22px;
}

.nd_registration_main_second_text, .nd_registration_main_second_text_last {
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.nd_registration_main_second_text_last {
    margin-bottom: 46px;
}

.nd_registration_main_second_text_accent {
    font-weight: 700;
    color: var(--primary-color);
}

.nd_registration_main_link {
    font-size: 18px;
    line-height: 22.5px;
    color: var(--primary-color);
    text-decoration-line: underline;
}

.nd_registration_main_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nd_registration_main_card {
    padding: 50px 12px 60px;
}

.nd_registration_main_card_left {
    padding-bottom: 21px;
}

.nd_registration_main_card_img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;

    border: 1px var(--border-color-no-t) solid;
    border-radius: 50%;
}

.nd_registration_main_card_img {
    width: 47px;
    height: auto;
}

.nd_registration_main_card_name {
    font-size: 24px;
    font-weight: 500;
    line-height: 26.4px;

    margin-bottom: 26px;
}

.nd_registration_main_card_accent_text {
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    color: var(--primary-color);

    margin-bottom: 10px;
}

.nd_registration_main_card_list {
    padding-bottom: 36px;
}

.nd_registration_main_card_item {
    display: flex;
    gap: 4px;
    align-items: baseline;

    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    color: var(--dark-grey-color);

    margin-bottom: 8px;
}

.nd_registration_main_card_item:last-child {
    margin-bottom: 0;
}

.nd_registration_main_card_dot {
    display: block;

    min-width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: var(--primary-color);
}

.nd_registration_main_card_teacher_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    letter-spacing: 1px;

    margin-bottom: 16px;
}

.nd_registration_main_btn_d {
    display: none;
}

.nd_registration_main_btn_d, .nd_registration_main_btn_m {
    height: 50px;
    max-width: 322px;

    color: #16031F;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.5px;
}

@media screen and (min-width: 992px) {
    .nd_registration_form_wrap {
        padding: 120px 0 200px;
    }

    .nd_registration_form {
        padding: 105px 105px 120px;
    }

    .nd_registration_title {
        font-size: 45px;
        line-height: 64px;
    }

    .nd_registration_label {
        font-size: 16px;
        margin-bottom: 43px;
    }

    .nd_registration_label_last {
        margin-bottom: 70px;
    }

    .nd_registration_input {
        height: 17px;
    }

    .nd_registration_calendar {
    }

    /*regs main*/

    .nd_registration_main {
        padding: 130px 0 200px;
    }

    .nd_registration_main_wrap {
        display: flex;
        gap: 8%;
    }

    .nd_registration_main_main {
        width: 46%;
        padding-bottom: 0;
    }

    .nd_registration_main_main, .nd_section_title {
        max-width: 100%;
    }

    .nd_registration_main_text {
        font-size: 24px;
        margin-top: 64px;
    }

    .nd_registration_main_second_text, .nd_registration_main_second_text_last {
        font-size: 18px;
        line-height: 25px;
    }

    .nd_registration_main_second_text_last {
        margin-bottom: 34px;
    }

    .nd_registration_main_link {
        font-size: 24px;
        line-height: 30px;
    }

    .nd_registration_main_list {
        width: 46%;
    }

    .nd_registration_main_card {
        display: flex;

        gap: 15px;

        padding: 25px 10px;
    }

    .nd_registration_main_card_left {
        text-align: center;
        padding-bottom: 0;
    }

    .nd_registration_main_card_img_wrap {
        width: 100px;
        height: 100px;

        margin-bottom: 41px;
    }

    .nd_registration_main_card_img {
        width: 70px;
    }

    .nd_registration_main_card_name {
        margin-bottom: 24px;
    }

    .nd_registration_main_card_accent_text {
        line-height: 22.5px;
    }

    .nd_registration_main_card_list {
        padding-bottom: 0;
    }

    .nd_registration_main_card_item {
        line-height: 25px;

        gap: 5px;
        margin-bottom: 4px;
    }

    .nd_registration_main_card_teacher_text {
        line-height: 22.5px;

        margin-bottom: 10px;
    }

    .nd_registration_main_btn_d {
        display: flex;
    }

    .nd_registration_main_btn_m {
        display: none;
        margin: 0 13px;
    }

}

@media screen and (min-width: 1200px) {

    .nd_registration_main_card{
        gap: 34px;

        padding: 65px 45px;
    }

    .nd_registration_main_card_img_wrap{
        width: 167px;
        height: 167px;
    }

    .nd_registration_main_card_img{
        width: 100px;
    }

}
