.nd_registration_form_wrap {
}

.nd_registration_form {
}

.nd_registration_title {
}

.nd_registration_label {
}

.nd_registration_input {
}

.nd_registration_check_wrap {
}

.nd_registration_checkbox_text {
}

.nd_registration_checkbox {
}

.nd_registration_checkbox_link {
}

.nd_registration_captcha {
}

.nd_registration_captcha_img {
}

.nd_registration_captcha_newCode {
}

.nd_registration_y_btn {
}

/*regs main*/

.nd_registration_main {
    padding: 75px 0 120px;
}

.nd_registration_main_main {
    padding-bottom: 75px;
}

.nd_registration_main_text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;

    margin: 21px 0 22px;
}

.nd_registration_main_second_text, .nd_registration_main_second_text_last {
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.nd_registration_main_second_text_last {
    margin-bottom: 46px;
}

.nd_registration_main_second_text_accent {
    font-weight: 700;
    color: var(--primary-color);
}

.nd_registration_main_link {
    font-size: 18px;
    line-height: 22.5px;
    color: var(--primary-color);
    text-decoration-line: underline;
}

.nd_registration_main_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nd_registration_main_card {
    padding: 50px 12px 60px;
}

.nd_registration_main_card_left {
    padding-bottom: 21px;
}

.nd_registration_main_card_img_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 75px;

    border: 1px var(--border-color-no-t) solid;
    border-radius: 50%;
}

.nd_registration_main_card_img {
    width: 47px;
    height: auto;
}

.nd_registration_main_card_name {
    font-size: 24px;
    font-weight: 500;
    line-height: 26.4px;

    margin-bottom: 26px;
}

.nd_registration_main_card_accent_text {
    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    color: var(--primary-color);

    margin-bottom: 10px;
}

.nd_registration_main_card_list {
    padding-bottom: 36px;
}

.nd_registration_main_card_item {
    display: flex;
    gap: 4px;
    align-items: baseline;

    font-size: 14px;
    line-height: 17.5px;
    letter-spacing: 1px;
    color: var(--dark-grey-color);

    margin-bottom: 8px;
}

.nd_registration_main_card_item:last-child {
    margin-bottom: 0;
}

.nd_registration_main_card_dot {
    display: block;

    min-width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: var(--primary-color);
}

.nd_registration_main_card_teacher_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    letter-spacing: 1px;

    margin-bottom: 16px;
}

.nd_registration_main_btn_d {
    display: none;
}

.nd_registration_main_btn_d, .nd_registration_main_btn_m {
    height: 50px;
    max-width: 322px;

    color: #16031F;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.5px;
}

/*organization*/

@media screen and (min-width: 992px) {
    /*regs main*/

    .nd_registration_main {
        padding: 130px 0 200px;
    }

    .nd_registration_main_wrap {
        display: flex;
        gap: 8%;
    }

    .nd_registration_main_main {
        width: 46%;
        padding-bottom: 0;
    }

    .nd_registration_main_main, .nd_section_title {
        max-width: 100%;
    }

    .nd_registration_main_text {
        font-size: 24px;
        margin-top: 64px;
    }

    .nd_registration_main_second_text, .nd_registration_main_second_text_last {
        font-size: 18px;
        line-height: 25px;
    }

    .nd_registration_main_second_text_last {
        margin-bottom: 34px;
    }

    .nd_registration_main_link {
        font-size: 24px;
        line-height: 30px;
    }

    .nd_registration_main_list {
        width: 46%;
    }

    .nd_registration_main_card {
        display: flex;

        gap: 15px;

        padding: 25px 10px;
    }

    .nd_registration_main_card_left {
        text-align: center;
        padding-bottom: 0;
    }

    .nd_registration_main_card_img_wrap {
        width: 100px;
        height: 100px;

        margin-bottom: 41px;
    }

    .nd_registration_main_card_img {
        width: 70px;
    }

    .nd_registration_main_card_name {
        margin-bottom: 24px;
    }

    .nd_registration_main_card_accent_text {
        line-height: 22.5px;
    }

    .nd_registration_main_card_list {
        padding-bottom: 0;
    }

    .nd_registration_main_card_item {
        line-height: 25px;

        gap: 5px;
        margin-bottom: 4px;
    }

    .nd_registration_main_card_teacher_text {
        line-height: 22.5px;

        margin-bottom: 10px;
    }

    .nd_registration_main_btn_d {
        display: flex;
    }

    .nd_registration_main_btn_m {
        display: none;
        margin: 0 13px;
    }

}

@media screen and (min-width: 1200px) {

    .nd_registration_main_card{
        gap: 34px;

        padding: 65px 45px;
    }

    .nd_registration_main_card_img_wrap{
        width: 167px;
        height: 167px;
    }

    .nd_registration_main_card_img{
        width: 100px;
    }

}
